* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.template {
    background-color: #ccc;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.window {
    max-width: 1080px;
    box-shadow: 25px 35px 10px 10px #555;
    resize: both;
    overflow: auto;
}

header {
    background-color: #888;
}

.content {
    min-height: 100%;
    padding: 50px 30px;
}

.section-home {
    height: 100vh;
}

header {
    padding: 8px;
    border-bottom: 1px solid #ccc;
}

.card {
    display: grid;
    place-items: center;
    text-align: center;
}

#home {
    text-decoration: none;
    color: #fff;
    font-size: 24px;
    border-right: 1px solid #ccc;
    padding: 10px;
    padding-right: 20px;
}

#registerSurvey>div {
    width: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#options {
    width: 360px;
    display: flex;
    flex-direction: column;
}

.answerWrapper {
    position: relative;
    width: 100%;
}

.inputAnswer {
    display: flex;
    flex-direction: column;
    width: 360px;
}

.inputAnswerText {
    width: 100%;
    padding-right: 40px;
}

.remove-btn {
    background-color: transparent;
    border: 0;
    color: tomato;
    position: absolute;
    top: 0;
    right: 0;
    width: 38px !important;
    height: 38px !important;
    display: grid;
    place-items: center;
}

.add-btn {
    display: grid;
    place-items: center;
}

.date-end {
    display: flex;
    flex-direction: column;
    padding: 10px 0;
    row-gap: 10px;
}

.form-votes {
    padding: 10px;
}

.table-survey {
    font-size: 1.5em;
}

.table-survey tr {
    display: flex;
    column-gap: 1em;
    justify-content: space-around;
}

.table-survey td {
    width: 180px;
    display: flex;
    align-items: center;
}

.table-survey td:nth-of-type(2){
    width: 20px;
}

.table-survey td:nth-of-type(3){
    width: 100px;
    color: #555;
    font-size: 12px;
}

.table-survey td input {
    transform: scale(1.2);
}

.viewVotes{
    text-decoration: none;
}

.viewVotes:hover{
    text-decoration: underline;
}

@media screen and (max-width: 768px) {

    .window{
        resize: none;
    }

    .content {
        box-shadow: none;
        width: 100%;
        height: calc(100% - 53px);
        min-height: auto;
        padding: 0;
    }

    .window {
        width: 100%;
        height: 100%;
    }
}